version: 2

# This file should be located in `.github`.
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  cooldown:
    default-days: 7
  open-pull-requests-limit: 10

- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
  cooldown:
    default-days: 7
  open-pull-requests-limit: 10
